.modulecard{
    background-color: white;
    gap: 1rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 15px;
    height: 9rem;
    width: 20rem;
    box-shadow: 0px 6px 0px 0px #022361, 0px 5px 10px -5px black;
}
.modulecard > h2 {
    color: #022361;
    font-weight: 700;
}
.modulecard button {
    background-color: white;
    box-shadow: 0px 4px 0px 0px green, 0px 5px 10px -5px black;
    border-radius: 5px;
    box-sizing: content-box;
    cursor: auto;
    height: 50px;
    width: 80px;
}